
  

.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container-05{
    display: flex;
    flex-direction: row;
}

.left-column {
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

}




