
.stockcon h4{
    color: red;
}

.card1{

    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, .25);
    background-color: white !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     padding-top: 50px;
    
}
.cont45 {
    padding: 1.5rem!important;
}

.stockcon{
    background-color: white;
    border-radius: 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    height: 100px;
    margin-top:  -18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stockcon:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: 100px;
    cursor: pointer;
}
p.size{
    margin-top: 25px;
    text-align: right;
}




.okbtn{
    background-color: #FF6666 !important;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60px;
    border: 1px solid rgba(255, 255, 255, .25);
     border-radius: 20px;
}
.okbtn:hover {
    background-color: red!important;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.okbtn:active{
    color:#000000;
}

.blood1{
   text-align:center; 
   font-size: 30px;
}

.viewbtn{
    background-color: #FF9F9F!important;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60px;
    border: 1px solid rgba(255, 255, 255, .25);
     border-radius: 20px;
}
.viewbtn:hover{
     background-color: wheat!important;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


table tr th{
   text-align: center; 
  
}
select .district{
    margin-top: 10px;
}

.stocky{
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
    
    
}

.detail{
    display: flex;
  
  align-items: center;
  margin-bottom: 10px;
}