html,
body {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: rgb(3, 3, 3) !important;
  height: 100%;
}

.box-form {
  margin: 25px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height:-webkit-fill-available !important ;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://deborahadmin.com/app/uploads/2022/01/good-health-1641031462-61d02726ac977-1024x614.jpg");
  /* background-image: url("https://d2jx2rerrg6sh3.cloudfront.net/images/Article_Images/ImageForArticle_22410_16506406729562977.jpg"); */
  overflow: hidden;
  opacity: 1;
}
.box-form .left .overlay {
  padding: 00px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent;
}
.box-form .left .overlay h1 {
  font-size: 9vmax;
  line-height: 1;
  font-weight: 900;
  width: 400px;
  margin-left: 600px;
  margin-top: 0px;
  margin-bottom: 60px;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px #d30000cc, 0 0 30px rgba(0, 238, 255, 0.8);
}

/* .box-form .left .lines p {
    font-size: 24px;
    color: white;
    margin: 10px 0;
    margin-left: 600px;
    margin-top: 0px;
    margin-bottom: 60px; */
 

.box-form .left .overlay span p {
  
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span q {

  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background: #3b5998;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .right {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
  color: #ff0101;
}
.box-form .right p {
  font-size: 14px;
  color: #010101;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  float: right;
  color: rgb(248, 243, 243);
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #ff0202;
  background-image: linear-gradient(135deg, #ff0202 10%, #fa6767 100%);
}


.form-check {
  margin-bottom: 1rem; 
  color: #000;
}


.form-check-input {
  width: 1.25rem; 
  height: 1.25rem;
}

.form-check-label {
  margin-left: 0.5rem;
  color:#000
}

