.card1{

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    background-color: white !important;
    box-shadow: rgba(149, 157, 165, 0.2) 4px 8px 24px;
    padding-top: 50px;
    height: 300px;


}
.p-3 {
    padding: 1.5rem!important;
}


.stockcon{
    background-color: white;
    border-radius: 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    height: 150px;
    margin-top:  -18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stockcon:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: 150px;
    cursor: pointer;
}
.stockcon h4{
    color: #950101;
}


.savebtn{
    background-color: #FF6666 !important;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
}
.savebtn:hover {
    background-color: red!important;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.blood1{
   text-align:center; 
   font-size: 30px;
   
}
.blood1{
   text-align:center; 
   font-size: 30px;
}
 .table tr td{
    text-align: center;
}   
.editbtn{
    background-color: white!important;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
}
.editbtn:hover{
    
     border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.btn-secondary{
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}



.stocky-1{
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
    
} 

.stocklevel{
text-align: center;
text-decoration: none;
color: red;
}

.addbtn{
    display: flex;
    flex-direction: row;
}