/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 20, 2023, 7:21:14 PM
    Author     : Texus
*/

.bgcol{
   background-color: #001C30!important; 
   color:white !important; 
}